/* AVIS DO NOT REMOVE
::AVIS FILEINFO V01.00::
FILE.NAME      = FileCopySelector.rc;
FILE.TYPE      = RESOURCE;
FILE.VERSION   = V02.00;
FILE.MODULE    = CYBORG.FILECOPY.SELECTOR;
FILE.PATH      = <PROJECT>/cyborg_projects.rc;
FILE.OWNER     = AI.FVS.AVIS.SYSTEM;

FILE COPY SELECTOR DIALOG RESOURCE.
AVIS DO NOT REMOVE */

#include "include/defs.h"

